::-webkit-scrollbar {
    width: 10px; /* Width of the scrollbar */
  }
  
  ::-webkit-scrollbar-track {
    background: #050505; /* Track color */
  }
  
  ::-webkit-scrollbar-thumb {
    background: #303131; /* Thumb color */
  }
  