/* Navbar styles */
.navbar {
  position: fixed;
  width: 90%;
  height: 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: #000000;
  color: #fff;
}

.navbar-logo {
  display: flex;
  align-items: center;
}

.navbar-logo h1 {
  margin: 0;
}

.logo-img {
  height: 90px;
  /* Adjust the height to make the logo smaller */
  width: auto;
 
  /* Maintain the aspect ratio */
  margin-right: 30px;
  /* Space between the logo and the text */
}


.navbar-toggle {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 24px;
}

.navbar-toggle .bar {
  width: 30px;
  height: 4px;
  background-color: #fff;
  margin: 2px 0;
}

/* Overlay styles */
.overlay {
  position: fixed;
  top: 0;
  left: 100%;
  width: 100%;
  height: 100%;
  background: rgb(0, 0, 0);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: left 1s ease-in-out;
}

.overlay.open {
  left: 0;
}

.overlay-content-wrapper {
  display: flex;
  justify-content: space-between;
  width: 80%;
  max-width: 1200px;
  animation: fadeIn 1s ease-in-out;
}

.overlay-content ul {
  list-style: none;
  padding: 0;
}

.overlay-content ul li {
  margin: 1rem 0;
  opacity: 0;
  animation: slideIn 1s forwards;
}

.overlay-content ul li:nth-child(1) {
  animation-delay: 0.3s;
}

.overlay-content ul li:nth-child(2) {
  animation-delay: 0.6s;
}

.overlay-content ul li:nth-child(3) {
  animation-delay: 0.9s;
}

.overlay-content ul li:nth-child(4) {
  animation-delay: 1.2s;
}

.overlay-content ul li:nth-child(5) {
  animation-delay: 1.5s;
}

.overlay-content ul li:nth-child(6) {
  animation-delay: 1.8s;
}

.overlay-content ul li a {
  color: #f1ecec;
  text-decoration: none;
  font-size: 1.5rem;
  transition: color 0.3s ease;
}

/* underline */
nav ul {
  list-style: none;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 20px;
}

nav ul li a {
  text-decoration: none;
  color: rgb(197, 102, 102);
  position: relative;
  padding-bottom: 5px;
}

nav ul li a::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: rgb(255, 102, 0);
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

nav ul li a:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

/* Hover effect */
.overlay-content ul li a:hover {
  color: #ffae00;
  /* Change this to the color you want */
}

.overlay-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
}

.overlay-info img {
  max-width: 100%;
  height: auto;
  margin-bottom: 1rem;
  opacity: 0;
  animation: fadeIn 2s forwards 1s;
}

.overlay-info p {
  max-width: 400px;
  text-align: center;
  opacity: 0;
  animation: fadeIn 2s forwards 1.3s;
}

.close-button {
  position: absolute;
  top: 20px;
  right: 20px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.close-button svg {
  width: 32px;
  height: 32px;
  fill: #fff;
  transition: transform 0.3s ease;
}

.close-button svg:hover {
  transform: rotate(90deg);
}

/* Animations */
@keyframes slideIn {
  from {
    transform: translateY(-20px);
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

/* hover */
.overlay-content a {
  display: inline-block;
  transition: transform 5.5s ease, color 5.5s ease;
  text-decoration: none;
  /* Optional: remove underline from links */
  color: #ffffff;
  /* Optional: set initial color */
}

.overlay-content a:hover {
  transform: scale(1.2);
  color: #f39c12;
}

/* mobili hide */
/* Default styles for overlay-info */
.overlay-info {
  display: block;
}

/* Hide overlay-info on screens smaller than 768px */
@media (max-width: 768px) {
  .overlay-info {
    display: none;
  }
}

.icon {
  font-size: 18px; /* Adjust the size as needed */
  margin-right: 10px; /* Adjust the value as needed */
}