.nav-img {
  width: 500px;  /* Set the desired width */
  height: auto;  /* Maintain the aspect ratio */
}

/* CSS */
.underline-on-hover {
  position: relative;
  color: #fff;
  transition: color 0.3s ease;
}

.underline-on-hover::before {
  content: '';
  position: absolute;
  left: 5;
  bottom: -2px;
  width: 100%;
  height: 2px;
  background-color: #fff;
  transform: scaleX(0);
  transition: transform 0.5s ease;
}

.underline-on-hover:hover::before {
  transform: scaleX(1);
}

